<footer>
    <div class="ayuda">
        <h2>Ayuda</h2>
        <h4><a href="">Productos</a></h4>
        <h4><a href="">Pagos</a></h4>
        <h4><a href="">Envíos</a></h4>
        <h4><a href="">Cambios y Devoluciones</a></h4>
        <h4><a href="">Mi Cuenta</a></h4>
    </div>
    <div class="siguenos">
        <h2>Síguenos</h2>
        <h4><a href="">Newsletter</a></h4>
        <h4><a href="">Instagram <i class="fab fa-instagram"></i></a></h4>
        <h4><a href="">Facebook <i class="fab fa-facebook-f"></i></a></h4>
        <h4><a href="">Twitter <i class="fab fa-twitter"></i><a href=""></h4>
        <h4><a href="">Youtube <i class="fab fa-youtube"></i></a></h4>
    </div>
    <div class="empresa">
        <h2>Empresa</h2>
        <h4><a href="">Quiénes Somos</a></h4>
        <h4><a href="">Oficinas</a></h4>
        <h4><a href="">Tiendas</a></h4>
        <h4><a href="">Trabaja Con Nosotros</a></h4>
    </div>
    <div class="politica">
        <h2>Política</h2>
        <h4><a href="">Política de Privacidad</a></h4>
        <h4><a href="">Condiciones de Compra</a></h4>
    </div>
</footer>