<nav>
    <div class="img-logo">
        <!-- <img src="/images/logo_brayds_v1.png" alt="logo Brayds"> -->
        <a href="/admin"><img src="/images/logo_brayds_v1.png" alt="logo Brayds"></a>
    </div>
    <div class="nav-izq">
        <a href="/admin"><p>Mi Cuenta</p></a>
    </div>
</nav>