<nav>
    <div class="img-logo">
        <!-- <img src="../img/logo_brayds_v1.png" alt="logo Brayds"> -->
        <img src="/images/logo_brayds_v1.png" alt="logo Brayds">
    </div>
    <div class="buscador">
        <h4>Buscar</h4>
    </div>
    <div class="nav-izq">
        <p>Sign In</p>
        <a href="">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
</nav>