  <!-- footer -->
  <footer class="bg-secondary text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="col-12 col-md-6 col-lg-3 text-center mb-3 mt-3" >
                    <h3 class="text-center">Ayuda</h3>
                </div>
                <ul class="list-unstyled">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Pagos</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Cambios y Devoluciones</a></li>
                    <li><a href="#">Mi Cuenta</a></li>
                </ul> 
                    
            </div>
                

        
        
            <div class="col-md-6 col-lg-3 text-center">
                <div class="col-12 col-md-6 col-lg-3 text-center mb-3 mt-3" >
                    <h3 class="text-center">Síguenos</h3>
                </div>
                <ul class="list-unstyled">
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul> 
            </div>
                

        
        
            <div class="col-md-6 col-lg-3 text-center">
                <div class="col-12 col-md-6 col-lg-3 text-center mb-3 mt-3" >
                    <h3 class="text-center">Empresa</h3>
                </div>
                <ul class="list-unstyled">
                    <li><a href="#">Quiénes Somos</a></li>
                    <li><a href="#">Oficinas</a></li>
                    <li><a href="#">Tiendas</a></li>
                    <li><a href="#">Trabaja con Nosotros</a></li>
                </ul> 
            </div>
                

        
        
            <div class="col-md-6 col-lg-3 text-center">
                <div class="col-12 col-md-6 col-lg-3 text-center mb-3 mt-3" >
                    <h3 class="text-center">Políticas</h3>
                </div>
                <ul class="list-unstyled">
                    <li><a href="#">Política De Privacidad</a></li>
                    <li><a href="#">Condiciones de Compra</a></li>
                </ul> 
            </div>
                

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
</footer>
<!-- end footer -->
