<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Logo</a> -->
    <div class="img-logo">
        <!-- <img src="../img/logo_brayds_v1.png" alt="logo Brayds"> -->
        <a href="/"><img src="/images/logo_brayds_v1.png" alt="logo Brayds"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="nav bd-highlight ml-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li> -->
            <% if (typePage != 'Admin Login') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/login">Iniciar Sesion</a>
                </li>
            <% } %>
            <% if (typePage != 'Admin Register') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/register" tabindex="-1" aria-disabled="true">Registrarse</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>