<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs') %> 
    <div class="container">
        <h2>Carro de Compras</h2>
        <h5># de articulos</h5>
        <section>
            <article>
                <img src="/images/producto/wilson-modelo.jpg" alt="producto1">
                <h4>Producto 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <input type="number">
                    <button>Eliminar</button>
                </form>
            </article>
            <article>
                <img src="/images/producto/wilson-modelo.jpg" alt="producto1">
                <h4>Producto 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <input type="number">
                    <button>Eliminar</button>
                </form>
            </article>
            <article>
                <img src="/images/producto/wilson-modelo.jpg" alt="producto1">
                <h4>Producto 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <input type="number">
                    <button>Eliminar</button>
                </form>
            </article>
            <article>
                <img src="/images/producto/wilson-modelo.jpg" alt="producto1"> 
                <h4>Producto 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <input type="number">
                    <button>Eliminar</button>
                </form>
            </article>
            <h3>TOTAL $9.999,99</h3>
        </section>
        <p>*IVA incluido</p>
        <div>
            <form action="" class="navegacion">
                <button type="button">Volver</button>
                <button type="button">Continuar</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>