<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs') %> 
    <div class="container">
        <h2>Carro de Compras</h2>
        <h5># de articulos</h5>
        <section>
            <article>
                <a href="/producto/detalle/1"><img src="/images/producto/wilson-modelo.jpg" alt="producto1"></a>
                <a href="/producto/detalle/1"><h4>Producto 1</h4></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <!-- <input type="number"> -->
                    <button>Eliminar</button>
                </form>
            </article>
            <article>
                <a href="/producto/detalle/2"><img src="/images/producto/wilson-modelo.jpg" alt="producto1"></a>
                <a href="/producto/detalle/2"><h4>Producto 2</h4></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <!-- <input type="number"> -->
                    <button>Eliminar</button>
                </form>
            </article>
            <article>
                <a href="/producto/detalle/3"><img src="/images/producto/wilson-modelo.jpg" alt="producto1"></a>
                <a href="/producto/detalle/3"><h4>Producto 3</h4></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <!-- <input type="number"> -->
                    <button>Eliminar</button>
                </form>
            </article>
            <article>
                <a href="/producto/detalle/4"><img src="/images/producto/wilson-modelo.jpg" alt="producto1"></a>
                <a href="/producto/detalle/4"><h4>Producto 4</h4></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                <p>$9.999,99</p>
                <p>Talle XL</p>
                <form action="" method="POST">
                    <!-- <input type="number"> -->
                    <button>Eliminar</button>
                </form>
            </article>
            <h3>TOTAL $9.999,99</h3>
        </section>
        <p>*IVA incluido</p>
        <div class="div-navegacion-form">
            <form action="" class="navegacion">
                <button type="button">Volver</button>
                <button type="button">Continuar</button>
        </form>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>