<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs') %> 
    <!--header img  -->
    <img src="images/producto/banner.jpg" class="img-fluid">
    <!-- main content -->
    <div class="container-fluid">

        <!-- new arrivals -->
        <div class="row">
            <div class="col-12 text-center mb-3 mt-3" >
                <h2 id="new-arrivals">New Arrivals</h2>
            </div>
        </div>
        <div class="row ml-3 mr-sm-3">
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/1"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                    <a href="/producto/detalle/1"><h3 class="card-title">Producto 1</h3></a>
                    <h4 class="card-subtitle">$10</h4>
                    <div class="w-100 text-right">
                    <a href="#" class="card-link">+</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/2"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/producto/detalle/2"><h3 class="card-title">Producto 2</h3></a>
                        <h4 class="card-subtitle">$10</h4>
                        <div class="w-100 text-right">
                            <a href="#" class="card-link">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/3"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/producto/detalle/3"><h3 class="card-title">Producto 3</h3></a>
                        <h4 class="card-subtitle">$10</h4>
                        <div class="w-100 text-right">
                            <a href="#" class="card-link">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/4"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/producto/detalle/4"><h3 class="card-title">Producto 4</h3></a>
                        <h4 class="card-subtitle">$10</h4>
                        <div class="w-100 text-right">
                            <a href="#" class="card-link">+</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>  
        <!-- end new arrivals -->

        <!-- temporada 2020 -->
        <div class="row">
            <div class="col-12 text-center mb-3 mt-3" >
                <h2>Temporada 2020</h2>
            </div>
        </div>
        <div class="row ml-3 mr-sm-3">
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/5"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/producto/detalle/5"><h3 class="card-title">Producto 5</h3></a>
                        <h4 class="card-subtitle">$10</h4>
                        <div class="w-100 text-right">
                            <a href="#" class="card-link">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/6"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/producto/detalle/6"><h3 class="card-title">Producto 6</h3></a>
                        <h4 class="card-subtitle">$10</h4>
                        <div class="w-100 text-right">
                            <a href="#" class="card-link">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/7"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/producto/detalle/7"><h3 class="card-title">Producto 7</h3></a>
                        <h4 class="card-subtitle">$10</h4>
                        <div class="w-100 text-right">
                            <a href="#" class="card-link">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                    <a href="/producto/detalle/8"><img class="card-img-top" src="/images/producto/wilson-modelo.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/producto/detalle/8"><h3 class="card-title">Producto 8</h3></a>
                        <h4 class="card-subtitle">$10</h4>
                        <div class="w-100 text-right">
                            <a href="#" class="card-link">+</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end temporada 2020  -->

    </div>
    <!-- end main content -->
    <%- include('partials/footer.ejs') %> 
</body>
</html>