<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs') %> 
    <div class="container">
        <div class="registro">
            <h2>Inicio Sesión</h2>
            <form action="" method="POST">
                <input type="text" name="username" placeholder="Username" >
                <input type="email" name="email" placeholder="Email" >
                <input type="password" name="password" placeholder="Contraseña">
                <input type="password" name="passwordverificado" placeholder="Repetir Contraseña" >
                <input type="text" name="nombre" placeholder="Nombre" >
                <input type="text" name="apellido" placeholder="Apellido" >
                <input type="text" name="direccion" placeholder="Dirección" >
                <input type="tel" name="telefono" placeholder="Teléfono" >       
            </form>
    <!-- <div class="container">
            <div class="row">
                <h2 class="col-12">Inicio Sesión</h2>
                <form action="" method="POST">
                    <input type="text" name="email" placeholder="Email" class="col-12">
                    <input type="password" name="password" placeholder="Contraseña" class="col-5">
                    <input type="password" name="passwordverificado" placeholder="Repetir Contraseña" class="col-5">
                    <input type="text" name="nombre" placeholder="Nombre" class="col-5">
                    <input type="text" name="apellido" placeholder="Apellido" class="col-5">
                    <input type="text" name="direccion" placeholder="Dirección" class="col-5">
                    <input type="number" name="telefono" placeholder="Teléfono" class="col-5">       
                </form>
            </div>
        </div>  -->
        
            <h3>Personaliza Tu Experiencia</h3>
            <form action="" method="POST">
                <input type="text" name="altura" placeholder="Altura">
                <input type="text" name="peso" placeholder="Peso">
                <input type="checkbox" name="promociones" value="okpromociones">Quiero recibir comunicaciones comerciales personalizadas de BRAYDS a través del email<br></input>
                <input type="checkbox" name="terminos" value="okterminos">Acepto terminos y condiciones de privacidad<br></input>
                <button type="submit">Registrarme</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>