<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs') %> 
    <div class="container">
        <div class="registro">
            <h2>Inicio Sesión</h2>
            <form action="" method="POST">
                <input type="text" name="username" placeholder="Username" >
                <input type="email" name="email" placeholder="Email" >
                <input type="password" name="password" placeholder="Contraseña">
                <input type="password" name="passwordverificado" placeholder="Repetir Contraseña" >
                <input type="text" name="nombre" placeholder="Nombre" >
                <input type="text" name="apellido" placeholder="Apellido" >
                <input type="text" name="direccion" placeholder="Dirección" >
                <input type="tel" name="telefono" placeholder="Teléfono" >       
            <h3>Personaliza Tu Experiencia</h3>
                <input type="text" name="altura" placeholder="Altura">
                <input type="text" name="peso" placeholder="Peso">
                <div class="form2">
                    <input type="checkbox" name="promociones"
                    id="promociones" value="okpromociones"><label for="promociones">Quiero recibir comunicaciones comerciales personalizadas de BRAYDS a través del email</label>
                    <input type="checkbox" name="terminos" 
                    id="terminos"
                    value="okterminos" class="terminos">
                    <label for="terminos">Acepto terminos y condiciones de privacidad</label>
                    <button type="submit">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>