<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %> 

<body>
    
    <%- include('partials/headerNavAdmins.ejs') %> 

    <div class="producto-add">
        <div class="cont-img-prod">
            <img src="/images/producto/default_avatar.png" alt="" class="img-prod" id="prodImg">
        </div>
        <div class="det-prod">
            <div class="box-name">
                <!-- <h1>Nombre del Producto</h1> -->
                <label for="name-prod" class="label-name-prod">Nombre del Producto</label>
                <!-- <input type="text" name="nombre-producto" placeholder="Nombre del Producto" class="input-name-prod"> -->
                <select type="text" name="nombre-producto" placeholder="Nombre del Producto" id="productSelected" class="input-name-prod">
                    <option value="" selected disabled>Choose Product</option>
                    <% for( let i = 0; i < productos.length; i++ ) { %>
                        <option value="<%= productos[i].dataValues.idproducto %>"> <%= productos[i].dataValues.nombre %></option>
                    <% } %>
                </select>
                <div class="box-price"> 
                    <label for="price" class="label-name-prod">Nombre del Producto</label>
                    <input type="text" name="nombreProducto" id="nameProduct" class="input-name-prod"> 
                </div>
                <div class="box-price"> 
                    <label for="price" class="label-name-prod">Precio del Producto</label>
                    <input type="text" name="precioProducto" id="price" class="input-name-prod"> 
                </div>
                <textarea name="descriptionProd" class="texto-desc-prod" id="prod-desc" cols="15" rows="12" placeholder="Descripcion:"></textarea>
            </div>
            <div class="button-admin">
                <!-- <form action="" method="POST" class="form-carga-producto">
                    <button type="submit" class="boton-carga-producto">Añadir Producto</button>
                </form> -->
                <form action="/admin/edit/selectProduct/:idProduct?_method=put" method="post" class="form-select-producto" id="editProdForm" enctype="multipart/form-data">
                    <input type="hidden" name="name" value="" id="valueName">
                    <input type="hidden" name="price" value="" id="valuePrice">
                    <input type="hidden" name="desc" value="" id="valueDesc">
                    <input type="file" name="prodImgName" id="prodPhoto" style="display: none;" />
                    <button type="submit" class="boton-select-producto">Editar Producto</button>
                    <!-- <div >
                        <a href="/admin/edit/selectProduct/1"><button type="button" class="boton-select-producto">Editar Producto</button></a>
                    </div> -->
                </form>
                <form action="/admin/edit/selectProduct/:idProduct?_method=delete" method="post" class="form-select-producto" id="deleteProdForm">
                    <button type="submit" class="boton-select-producto">Eliminar Producto</button>
                    <!-- <div >
                        <a href="/admin/delete/selectProduct/1"><button type="button" class="boton-select-producto">Eliminar Producto</button></a>
                    </div> -->
                </form>
                <!-- <a href="/products/edit/" class="action-button edit">EDITAR PRODUCTO</a> -->
                <!-- <form action="/admin?_method=delete" method="POST" class="form-delete-producto">
                    <button type="submit" class="boton-delete-producto">Eliminar</button>
                </form> -->
            </div>
        </div>
    </div>

    <script src="/javascripts/adminProductEdit.js"></script>
</body>
</html>