*{
    font-family: 'Righteous', cursive;

}

.dropDownHome{
    background-color: rgb(156, 156, 156);
}

#buscador{
    border-top:solid rgb(247, 247, 247);
    border-left:solid rgb(247, 247, 247);
    border-right:solid rgb(247, 247, 247);
    border-bottom: solid black;
    background: rgb(247, 247, 247);
}

#btn-search{   
    color: rgb(97, 96, 96);
    border: rgb(87, 87, 87);
    background-color: rgb(201, 201, 201);

}


a {
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}


/* login  */

.navLogin{
    font-size: 40px;
}

.menuApp{
    font-size: 35px;
}

.botonDd{
    font-size: 35px;
}

.h-corrousel {
    height: 500px;
    width: 100%;
    display: block;
    background-color: red;
    border: 3px solid blue;
}

.img-corrousel {
    width: 100%;
    height: 100%;
    display: block;
    /* background-size: fill; */
}