@import url("./partials/styleNavBar.css");
@import url("./partials/footer.css");
@import url("./partials/forms.css");
@import url("./partials/adminLoginForm.css");
@import url("./partials/cargaProdAdmin.css");
@import url("./partials/productDetail.css");
@import url("./partials/registro.css");
@import url("./partials/carrito.css");
@import url("./partials/userInfo.css");
@import url("./partials/main.css");

a {
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

/* 
    Variable Colores
 */

:root {
    --color-buscador: #707070;
    --font-buscador: Mshtakan;
    --font-logo: Helvetica-Neue;
    --color-logo: #656161;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* padding: 50px; */
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

/* a {
    color: #00B7FF;
  } */

/* 
    HTML de Detalle Producto 
  */  

/* 
    MEDIA QUERY DEVICES 768PX
  */

@media (min-width: 768px) {

    /* 
        AJUSTO NAVBAR
    */
    nav {
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    nav .navbar-logo {
        /* width: 20%; */
        font-size: x-large;
        /* font-weight: 300; */
    }
    nav .img-logo {
        width: 150px;
    }
    nav .nav-izq p {
        padding-right: 20px;
    }
    .producto .det-prod {}
    
    /* 
        AJUSTO DE PRODUCTO
    */
    .producto .det-prod p {
        margin: 0 auto;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .producto-add .det-prod p {
        margin: 0 auto;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* 
        AJUSTO FOOTER
    */
    footer {
        margin-top: 50px;
    }
    footer .ayuda {
        width: 25%;
    }
    footer .siguenos {
        width: 25%;
    }
    footer .empresa {
        width: 25%;
    }
    footer .politica {
        width: 25%;
    }

    /* User Info Media Query */

    .user .info-user{
        padding-right: 20%;
    }

    .h-corrousel {
        height: 600px;
    }

    .contenedorDatos .datoProd {
        width: 50%;
        padding-left: 5px;
    }
    .contenedorDatos .datoProd .input-num-dato {
        width: 80%;
        margin-bottom: 10px;
    }
    .add-iamges .cont-img-more {
        width: 45%;
        margin-bottom: 20px;
    }
}


/* 
    MEDIA QUERY DEVICES 1024PX
*/

@media (min-width: 1024px) {

    /* 
        AJUSTO PRODUCTO
    */
    .producto .det-prod p {
        margin: 0 auto;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .producto-add .det-prod p {
        margin: 0 auto;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contenedorDatos .datoProd {
        width: 32%;
    }
    .producto-add .det-prod .add-new-img .boton-more-img {
        width: 35%;
        border-radius: 10px;
    }
    .add-iamges .cont-img-more {
        width: 32%;
        margin-bottom: 20px;
    }
}

/*  ========================================================================================================= 
    CSS PARA CARGA DE PRODUCTO
    ========================================================================================================== 
*/

/* 
    USO NAVBAR ANTERIORMENTE DEFINIDO
*/
/* 
    DETALLES DEL PRODUCTO
*/

/* MEDIA QUERY 640 */

@media (min-width: 640px) {

    .producto .det-prod input {
        width: 60%;
    }
    .producto .det-prod select {
        width: 60%;
    }
    .producto .det-prod .delete-name-prod {
        width: 60%;
    }
    /* AJUSTO DETALLE PRODUCTO TEXTAREA */
    .producto .det-prod textarea.texto-desc-prod {
        width: 17rem;
    }

    /* BOTONES ADMINISTADOR AGREGO, EDITO, ELIMINO */
    .producto .det-prod div.button-admin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    }
    .producto .det-prod .button-admin .form-carga-producto {
        width: 40%;
        margin-right: 10px;
        /* margin-bottom: 0; */
    }
    .producto .det-prod .button-admin .boton-carga-producto {
        width: 100%;
    }
    .producto .det-prod .button-admin .form-edit-producto {
        width: 40%;
        margin-right: 10px;
        /* margin-bottom: 0; */
    }
    .producto .det-prod .button-admin .boton-edit-producto {
        width: 100%;
    }
    .producto .det-prod .button-admin .form-delete-producto {
        width: 50%;
        /* margin-left: 10px; */
    }
    .producto .det-prod .button-admin .boton-delete-producto {
        width: 100%;
    }
    .producto .det-prod .button-admin .form-select-producto {
        width: 40%;
        margin-right: 10px;
        /* margin-bottom: 0; */
    }
    .producto .det-prod .button-admin .boton-select-producto {
        width: 100%;
    }
    .producto-add .det-prod input {
        width: 60%;
    }
    .producto-add .det-prod select {
        width: 60%;
    }
    .producto-add .det-prod .delete-name-prod {
        width: 60%;
    }
    /* AJUSTO DETALLE PRODUCTO TEXTAREA */
    .producto-add .det-prod textarea.texto-desc-prod {
        width: 17rem;
    }
    
    /* BOTONES ADMINISTADOR AGREGO, EDITO, ELIMINO */
    .producto-add .det-prod div.button-admin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    }
    .producto-add .det-prod .button-admin .form-carga-producto {
        width: 40%;
        margin-right: 10px;
        /* margin-bottom: 0; */
    }
    .producto-add .det-prod .button-admin .boton-carga-producto {
        width: 100%;
    }
    .producto-add .det-prod .button-admin .form-edit-producto {
        width: 40%;
        margin-right: 10px;
        /* margin-bottom: 0; */
    }
    .producto-add .det-prod .button-admin .boton-edit-producto {
        width: 100%;
    }
    .producto-add .det-prod .button-admin .form-delete-producto {
        width: 50%;
        /* margin-left: 10px; */
    }
    .producto-add .det-prod .button-admin .boton-delete-producto {
        width: 100%;
    }
    .producto-add .det-prod .button-admin .form-select-producto {
        width: 40%;
        margin-right: 10px;
        /* margin-bottom: 0; */
    }
    .producto-add .det-prod .button-admin .boton-select-producto {
        width: 100%;
    }
    .box-checks .checkProd {
        width: 10px;
    }
}

/* 
    MEDIA QUERY DEVICES 768PX
  */
@media (min-width: 768px) {
    /* 
        CARGA DE DETALLE DEL PRODUCTO MAS GRANDE
    */
    .producto .det-prod p.delete-name-prod {
        margin: 0;
        margin-bottom: 15px;
    }
    .producto .det-prod textarea.texto-desc-prod {
        width: 20rem;
    }
    .producto .det-prod .talles-carga-prod {
        padding-left: 20px;
        padding-top: 15px;
    }
    /* AJUSTO BOTONES ADMINISTADOR AGREGO, EDITO, ELIMINO */

    .producto .det-prod .button-admin .form-carga-producto {
        width: 30%;
        margin-right: 10px;
    }
    .producto .det-prod .button-admin .form-edit-producto {
        width: 30%;
        margin-right: 10px;
    }
    .producto .det-prod .button-admin .form-delete-producto {
        width: 30%;
    }
    .producto .det-prod .button-admin .form-select-producto {
        width: 30%;
        margin-right: 10px;
    }
    .producto-add .det-prod p.delete-name-prod {
        margin: 0;
        margin-bottom: 15px;
    }
    .producto-add .det-prod textarea.texto-desc-prod {
        width: 20rem;
    }
    .producto-add .det-prod .talles-carga-prod {
        padding-left: 20px;
        padding-top: 15px;
    }
    /* AJUSTO BOTONES ADMINISTADOR AGREGO, EDITO, ELIMINO */
    
    .producto-add .det-prod .button-admin .form-carga-producto {
        width: 30%;
        margin-right: 10px;
    }
    .producto-add .det-prod .button-admin .form-edit-producto {
        width: 30%;
        margin-right: 10px;
    }
    .producto-add .det-prod .button-admin .form-delete-producto {
        width: 30%;
    }
    .producto-add .det-prod .button-admin .form-select-producto {
        width: 30%;
        margin-right: 10px;
    }
}

/* media query 900 */
@media (min-width: 900px) {
    .producto .det-prod input {
        width: 45%;
    }
    .producto .det-prod select {
        width: 45%;
    }
    .producto .det-prod p.delete-name-prod {
        width: 45%;
    }
    /* CARGA NOMBRE Y PRECIO DEL PRODUCTO */
    .producto-add .det-prod {
        width: 50%;
    }
    .producto-add .det-prod input {
        width: 45%;
    }
    .producto-add .det-prod select {
        width: 45%;
    }
    .producto-add .det-prod p.delete-name-prod {
        width: 45%;
    }
    /* AJUSTO BOTONES ADMINISTADOR AGREGO, EDITO, ELIMINO */
    /* .altura-carrousel {
        min-height: 300px;
        max-height: 300px;
    } */
}

/* 
    MEDIA QUERY DEVICES 1024PX
  */
@media (min-width: 1024px) {
    /* 
        CARGA DE DETALLE DEL PRODUCTO MAS GRANDE
    */
    .producto .det-prod textarea.texto-desc-prod {
        width: 30rem;
    }
    .producto-add .det-prod textarea.texto-desc-prod {
        width: 30rem;
    }
}


