/* 
  Variable Colores
 */

:root {
  --color-buscador: #707070;
  --font-buscador: Mshtakan;
  --font-logo: Helvetica-Neue;
  --color-logo: #656161;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

/* a {
  color: #00B7FF;
} */

/* 
  HTML de Detalle Producto 
*/

/* 
  BARRA DE NAVEGACION
 */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
nav .img-logo {
  width: 100px;
}
nav .img-logo img {
  /* width: 100px; */
  max-width: 95%;
  max-height: 100%;
}
nav .buscador {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
nav .buscador h4 {
  font-weight: 200;
  color: var(--color-buscador);
  font-family: var(--font-buscador);
  text-transform: uppercase;
}
nav .nav-izq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-izq p {
  color: var(--color-buscador);
  font-family: var(--font-logo);
  padding-right: 10px;
}
nav .nav-izq a {
  text-decoration: none;
  text-decoration-color: none;
  color: black;
}

/* 
  DETALLE DEL PRODUCTO 
*/

.producto {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
.producto .img-prod {
  width: 50%;
  padding-right: 10px;
}
.producto .img-prod img {
    max-width: 95%;
    max-height: 100%;
}
.producto .det-prod {
  width: 50%;
  padding-right: 10px;
}
.producto .det-prod h1 {}
.producto .det-prod h3 {}
.producto .det-prod p {
  margin-bottom: 10px;
}
.producto .det-prod h4 {}
.producto .det-prod .talle {
  margin: 15px 0;
}
.producto .det-prod ul {}
.producto .det-prod ul li {
  list-style-type: none;
}
.producto .det-prod button {
  color: white;
  border-radius: 4px;
  background-color: black;
  border: 0;
  width: 70%;
  line-height: 1.5rem;
  font-size: medium;
}
.producto .det-prod button:focus {
  outline:0 !important;
}

/* 
  NEWSLETTERS
*/

.newsletter {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin-bottom: 20px;
}
.newsletter h3 {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.newsletter input {
  /* display: block;
  text-align: center;
  align-self: center; */
  display: block;
  margin: 0 auto;
  border: none;
}
.newsletter input:focus {
  outline: none; 
  border: 0; 
  box-shadow: none;
 }
.newsletter hr {
  width: 80%;
  margin: 5px auto;
}

/* 
  FOOTER
*/

footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  /* width: 90vw; */
  width: 100%;
  margin-bottom: 20px;
}
footer a {
  color: inherit;
  text-decoration: none;
}
footer .ayuda {
  width: 50%;
}
footer h2 {
  /* margin-right: 20px; */
  /* text-align: center; */
  padding-left: 40px;
}
footer h4 {
  /* text-align: center; */
  padding-left: 40px;
  font-weight: 200;
}
footer .siguenos {
  width: 50%;
}
footer .empresa {
  width: 50%;
}
footer .politica {
  width: 50%;
}

/* 
  MEDIA QUERY DEVICES 768PX
*/

@media (min-width: 768px) {

  /* 
    AJUSTO NAVBAR
  */
  nav {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  nav .img-logo {
    width: 150px;
  }
  nav .nav-izq p {
    padding-right: 20px;
  }
  .producto .det-prod {

  }

  /* 
    AJUSTO PRODUCTO
  */
  .producto .det-prod p {
    margin: 0 auto;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* 
    AJUSTO FOOTER
  */
  footer {
    margin-top: 50px;
  }
  footer .ayuda {
    width: 25%;
  }
  footer .siguenos {
    width: 25%;
  }
  footer .empresa {
    width: 25%;
  }
  footer .politica {
    width: 25%;
  }
}

/* 
  MEDIA QUERY DEVICES 1024PX
*/

@media (min-width: 1024px) {

  /* 
    AJUSTO PRODUCTO
  */
  .producto .det-prod p {
    margin: 0 auto;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


/* ========================================================================================================== 
  CSS PARA CARGA DE PRODUCTO
========================================================================================================== */

/* 
  USO NAVBAR ANTERIORMENTE DEFINIDO
 */

 /* 
  DETALLES DEL PRODUCTO
*/

/* 
  CARGA DE IMAGEN DEL PRODUCTO
*/
.producto .img-carga-prod  {
  background-color: var(--color-logo);
  height: 300px;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.producto .img-carga-prod p {
  text-align: center;
}

/* 
  CARGA DE DETALLES DEL PRODUCTO
*/
.producto .det-prod textarea.texto-desc-prod {
  padding: 10px;
  resize: none;
  border-color: var(--color-buscador);
}
.producto .det-prod textarea.texto-desc-prod:focus {
  outline: none !important;
} 
.producto .det-prod .talles-carga-prod {
  padding-left: 10px;
  padding-top: 10px;
}
.producto .det-prod .talles-carga-prod li{
  display: inline-block;
}
.producto .det-prod .boton-carga-producto {
  border-radius: 10px;
}

/* 
  MEDIA QUERY DEVICES 768PX
*/
@media (min-width: 768px) {
  /* 
    CARGA DE DETALLE DEL PRODUCTO MAS GRANDE
  */
  .producto .det-prod textarea.texto-desc-prod {
    width: 20rem;
  }
  .producto .det-prod .talles-carga-prod {
    padding-left: 20px;
    padding-top: 15px;
  }
}

/* 
  MEDIA QUERY DEVICES 1024PX
*/
@media (min-width: 1024px) {
  /* 
    CARGA DE DETALLE DEL PRODUCTO MAS GRANDE
  */
  .producto .det-prod textarea.texto-desc-prod {
    width: 30rem;
  }
}