/* 
    CARGA DE IMAGEN DEL PRODUCTO
  */

  .producto .img-carga-prod  {
    background-color: var(--color-logo);
    height: 300px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.producto .img-carga-prod p {
    text-align: center;
}

/* CARGA NOMBRE Y PRECIO DEL PRODUCTO */
.producto .det-prod .box-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}
.producto .det-prod label {
    margin-bottom: 5px;
}
.producto .det-prod input {
    padding-left: 5px;
    /* resize: none; */
    border: 1px solid var(--color-buscador);
    width: 95%;
    margin-bottom: 15px;
    /* border-color: var(--color-buscador); */
}
.producto .det-prod input:focus {
    outline: none !important;
}
.producto .det-prod .box-name label {
    /* margin-bottom: 5px; */
}
.producto .det-prod .box-name input {
    /* width: 95%; */
    /* margin-bottom: 15px; */
}
.producto .det-prod .box-price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}
.producto .det-prod .box-price label {
    /* margin-bottom: 5px; */
}
.producto .det-prod .box-price input {
    /* width: 95%; */
    /* margin-bottom: 15px; */
}

/* 
    CARGA DE DETALLES DEL PRODUCTO
*/
.producto .det-prod textarea.texto-desc-prod {
    padding: 10px;
    resize: none;
    border-color: var(--color-buscador);
}
.producto .det-prod textarea.texto-desc-prod:focus {
    outline: none !important;
} 
.producto .det-prod .talles-carga-prod {
    padding-left: 10px;
    padding-top: 10px;
}
.producto .det-prod .talles-carga-prod li{
    display: inline-block;
}
.producto .det-prod div.button-admin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}
.producto .det-prod .button-admin .form-carga-producto {
    width: 100%;
    margin-bottom: 10px;
}
.producto .det-prod .button-admin .boton-carga-producto {
    border-radius: 10px;
    /* width: 100%; */
    text-align: center;
    /* margin-bottom: 10px; */
}

.producto .det-prod .button-admin .form-edit-producto {
    width: 100%;
    margin-bottom: 10px;
}
.producto .det-prod .button-admin .boton-edit-producto {
    border-radius: 10px;
    /* width: 100%; */
    text-align: center;
    /* margin-bottom: 10px; */
}

.producto .det-prod .button-admin .form-delete-producto {
    width: 100%;
    /* margin-bottom: 10px; */
}
.producto .det-prod .button-admin .boton-delete-producto {
    border-radius: 10px;
    /* width: 100%; */
    text-align: center;
}