/* 
    CARGA DE IMAGEN DEL PRODUCTO
  */
.producto-add {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.producto-add .img-carga-prod  {
    background-color: var(--color-logo);
    height: 300px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.producto-add .cont-img-prod {
    height: 300px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.producto-add .img-prod {
    max-width: 100%;
    max-height: 100%;
}
.producto-add .img-carga-prod p {
    text-align: center;
}
.add-iamges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 20px;
}
.add-iamges .cont-img-more {
    margin: 0 auto;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.add-iamges .cont-img-more .img-new {
    max-width: 95%;
    max-height: 95%;
    margin: 5px;
}

/* IMAGEN EN PAGINA ADMIN PARA EDITAR O BORRAR PRODUCTO */
.producto-add .div-edit-prod {
    height: 80vh;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.producto-add .div-edit-prod img {
    max-width: 100%;
    max-height: 100%;
}


/* CARGA NOMBRE Y PRECIO DEL PRODUCTO */
.producto-add .det-prod {
    width: 45%;
}
.producto-add .det-prod .box-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}
.producto-add .det-prod label {
    margin-bottom: 5px;
}
.producto-add .det-prod input {
    padding-left: 5px;
    /* resize: none; */
    border: 1px solid var(--color-buscador);
    width: 95%;
    margin-bottom: 15px;
    /* border-color: var(--color-buscador); */
}
.producto-add .det-prod select {
    padding-left: 5px;
    /* resize: none; */
    border: 1px solid var(--color-buscador);
    width: 95%;
    margin-bottom: 15px;
    /* border-color: var(--color-buscador); */
}
.producto-add .det-prod p.delete-name-prod {
    /* padding-left: 5px; */
    /* border: 1px solid var(--color-buscador); */
    width: 95%;
    margin-bottom: 15px;
}
.producto-add .det-prod input:focus {
    outline: none !important;
}
.producto-add .det-prod .box-name label {
    /* margin-bottom: 5px; */
}
.producto-add .det-prod .box-name input {
    /* width: 95%; */
    /* margin-bottom: 15px; */
}
.producto-add .det-prod .box-price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}
.producto-add .det-prod .box-price label {
    /* margin-bottom: 5px; */
}
.producto-add .det-prod .box-price input {
    /* width: 95%; */
    /* margin-bottom: 15px; */
}
.producto-add .det-prod .add-new-img {
    width: 100%;
}
.producto-add .det-prod .add-new-img .boton-more-img {
    width: 50%;
    border-radius: 10px;
}

/* 
    CARGA DE DETALLES DEL PRODUCTO
*/
.producto-add .det-prod textarea.texto-desc-prod {
    padding: 10px;
    resize: none;
    border-color: var(--color-buscador);
}
.producto-add .det-prod textarea.texto-desc-prod:focus {
    outline: none !important;
} 
.producto-add .det-prod .talles-carga-prod {
    padding-left: 10px;
    padding-top: 10px;
}
.producto-add .det-prod .talles-carga-prod li{
    display: inline-block;
}
.producto-add .det-prod div.button-admin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}
.producto-add .det-prod .button-admin .form-carga-producto {
    width: 100%;
    margin-bottom: 10px;
}
.producto-add .det-prod .button-admin .boton-carga-producto {
    border-radius: 10px;
    /* width: 100%; */
    text-align: center;
    /* margin-bottom: 10px; */
}

.producto-add .det-prod .button-admin .form-edit-producto {
    width: 100%;
    margin-bottom: 10px;
}
.producto-add .det-prod .button-admin .boton-edit-producto {
    border-radius: 10px;
    /* width: 100%; */
    text-align: center;
    /* margin-bottom: 10px; */
}

.producto-add .det-prod .button-admin .form-delete-producto {
    width: 100%;
    /* margin-bottom: 10px; */
}
.producto-add .det-prod .button-admin .boton-delete-producto {
    border-radius: 10px;
    /* width: 100%; */
    text-align: center;
}

.producto-add .det-prod .button-admin .form-select-producto {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 40px;
}
.producto-add .det-prod .button-admin .boton-select-producto {
    border-radius: 10px;
    /* width: 100%; */
    text-align: center;
    /* margin-bottom: 10px; */
}
.box-checks {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.box-checks .checkProd {
    width: 10px;
}
/* .box-checks input[type="checkbox"] {
    vertical-align:middle;
} */

/* Datos extras */

.contenedorDatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.contenedorDatos .cargaDatos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.contenedorDatos .datoProd {
    width: 100%;
}
.contenedorDatos .datoProd .label-dato {
    display: block;
}
.contenedorDatos .datoProd .input-num-dato {
    width: 100%;
}
.contenedorDatos .form-carga-dato {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-carga-imagenes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}