a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    /* max-width: 1200px; */
    width: 100%; /*modifico*/
    display: flex;
    flex-wrap: wrap;
}
.container h2 {
    width: 100%;
    text-transform: uppercase;
    margin: 10px 0;
}
.container h5 {
    width: 100%;
    margin: 10px 0;
}
.container p {
    width: 100%;
    text-align: center;
}

.container section {
    display: flex;
    flex-wrap: wrap;
}
.container article {
    display: flex;
    flex-wrap: wrap;
    /* width: 25%; */
    width: 100%; /*modifico*/
    padding: 10px; /*modifico*/
}
.container article img {
    height: 400px;
}

.container article h4 {
}
.container article a /*modifico*/{
    width: 100%; /*modifico*/
    display: inline-block;/*modifico*/
}

.container article p {
    text-align: left;
}
.container article form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container article form input {}
.container article form button {}
.container h3 {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.container div.div-navegacion-form {
    width: 100%;
    margin: 10px 0;
}
.container form.navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.container form.navegacion button {
    /* width: 60%; */
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}


/* AGREGO MEDIA QUERIES */
@media (min-width: 576px) {
    .container article {
        width: 50%;
    }
    .container form.navegacion button  {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .container article {
        width: 33%;
    }
}