button {
    color: white;
    border-radius: 4px;
    background-color: black;
    border: 0;
    line-height: 1.5rem;
    font-size: medium;
}

input {
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
}

input.checkRemAdmin {
    width: 13px;
}

.input-not-show {
    border-bottom: none;
}