.h-corrousel {
    height: 400px;
    width: 100%;
    display: block;
    /* background-color: red; */
    /* border: 3px solid blue; */
}

.img-corrousel {
    width: 100%;
    height: 100%;
    /* display: block; */
    /* background-size: fill; */
}
/* .main-prod-carrousel {
    height: 900px;
    width: 600px;
} */
/* .prod-corrousel {
    max-height: 100%;
    max-width: 100%;
    display: block;
} */