/* CSS PARA PAGINA DE REGISTRO */

.container {
    margin: 0 auto;
    max-width: 1000px;
} 
.registro {
    display: flex;
    flex-wrap: wrap;
}
.registro h2 {
    width: 100%;
    text-transform: uppercase;
    margin: 10px 0;
}
.registro form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.registro form h3 {
    width: 100%;
    margin: 10px 0;
}
.registro form input {
    width: 45%;
    margin: 20px 10px;
}
.registro form .form2 {
    display: flex;
    flex-wrap: wrap;
   
}
.registro form .form2 input {
    width; 100px;
       margin: 0px;
}
/* .registro form input[type="checkbox"] {}
/* .registro form button { 
} */ */
