/* CSS PARA PAGINA DE REGISTRO */

.container {
    margin: 0 auto;
    max-width: 1000px;
} 
.registro {
    display: flex;
    flex-wrap: wrap;
}
.registro h2 {
    width: 100%;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
}
.registro form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.registro form input {
    width: 45%;
    margin: 20px 110px 20px 140px ;
    justify-content: space-between;
    
}
.registro form div.container-fluid small#errorUsername {
    margin-left: 270px;
}
.registro form div.container-fluid small#errorEmail{
    margin-left: 270px;
}
.registro form div.container-fluid small#errorPassword{
    margin-left: 270px;
}
.registro form input#pesoAltura {
    display: flex;
    margin-right: 150px;
}
.registro form input#pesoAltura2 {
    display: flex;
    margin-right: 150px;
}
.registro form.form-checkbox-register /*agregado*/{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.registro form div.container-checkbox /*agregado*/{
    width: 100%;
    margin-bottom: 10px;
}
.registro form input[type="checkbox"] {
    /* color: red;  */
    /* background-color: green ; */
    margin: 0; /*agregado*/
    margin-right: 10px; /*agregado*/
    width: 20px; /*agregado*/
    /* height: 100%; */
}
.registro form div.checkbock-news /*agregado*/{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0 10px;
}
.registro form div.row-checkbox /*agregado*/{
    height: 100%;
    width: 10%;
    display: inline-block;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-self: center; */
    padding: 0 20px;
    /* margin: auto 0; */
}
.registro form div.label-checkbox /*agregado*/{
    height: 100%;
    width: 70%; 
}
.registro form button { 
    margin-top: 20px;/*agregado*/
    margin-bottom: 20px;/*agregado*/
    margin-left: 35px;/*agregado*/
    width: 80%;/*agregado*/
}


/* AGREGO MEDIA QUERIES */
@media (min-width: 576px) {
    .registro form button {
        width: 40%;
    }
}
@media (max-width: 767px) {
    .registro form div.container-fluid small#errorUsername {
        margin:0 auto;
        box-sizing: border-box;
        margin-left: 90px;
        
        
    }
    .registro form div.container-fluid small#errorEmail {
        margin:0 auto;
        box-sizing: border-box;
        margin-left: 90px;
    }
    .registro form div.container-fluid small#errorPassword {
        margin:0 auto;
        box-sizing: border-box;
        margin-left: 90px;
    }
      
    }
    @media (max-width: 425px) {
        .registro form div.container-fluid small#errorUsername {
            margin:0 auto;
            box-sizing: border-box;
            margin-left: 120px;
            font-size: 10px;
        }
        .registro form div.container-fluid small#errorEmail {
            margin:0 auto;
            box-sizing: border-box;
            margin-left: 120px;
            font-size: 10px;
        }
        .registro form div.container-fluid small#errorPassword {
            margin:0 auto;
            box-sizing: border-box;
            margin-left: 120px;
            font-size: 10px;
        }
          
        }
        @media (max-width: 425px) {
            .registro form input#fotoAvatar {
                width: 80%;
                margin-right: 20px;
                margin-left: 20px;
            }
        }
/* .registro form input[type="checkbox"] {}
/* .registro form button { 
} */

/*---------------LOGIN--------------*/
.login form input[type="checkbox"] {
    /* color: red;  */
    /* background-color: green ; */
    margin: 0; /*agregado*/
    margin-right: 10px; /*agregado*/
    width: 20px; /*agregado*/
    /* height: 100%; */
}
.login form div.checkbock-news /*agregado*/{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 0 10px; */
}
.login form div.row-checkbox /*agregado*/{
    height: 100%;
    /* width: 10%; */
    display: inline-block;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-self: center; */
    padding: 0;
    /* padding-left: 5px; */
    /* margin: auto 0; */
}

/*---------------LOGIN ADMIN--------------*/
.login form div.checkbock-rem-adm {
    width: 100%;
    display: flex;
    align-items: center;
}
.login form div.row-checkbox-rem-adm /*agregado*/{
    height: 100%;
    display: inline-block;
    padding: 0;
}