:root {
    --color-buscador: #707070;
    --font-buscador: Mshtakan;
    --font-logo: Helvetica-Neue;
    --color-logo: #656161;
}
/* 
    BARRA DE NAVEGACION
*/

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
nav .img-logo {
    width: 100px;
}
nav .img-logo img {
    /* width: 100px; */
    max-width: 95%;
    max-height: 100%;
}
nav .buscador {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
/* nav .buscador h4 {
    font-weight: 200;
    color: var(--color-buscador);
    font-family: var(--font-buscador);
    text-transform: uppercase;
} */
nav .buscador .search-form {
    /* width: 50px; */
    width: 100%;
}
nav .buscador .search-form input {
    font-weight: 200;
    font-size: large;
    color: var(--color-buscador);
    font-family: var(--font-buscador);
    text-transform: uppercase;
    border: none;
    width: 100%;
    text-align: center;
    /* display: inline; */
}
nav .buscador .search-form input:focus {
    outline: none;
}

nav .nav-izq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
nav .nav-izq p {
    color: var(--color-buscador);
    font-family: var(--font-logo);
    padding-right: 10px;
}
nav .nav-izq a {
    text-decoration: none;
    text-decoration-color: none;
    color: black;
}
nav .nav-izq a.signIn {
    color: var(--color-buscador);
    font-family: var(--font-logo);
    padding-right: 10px;
}

@media (min-width: 768px) {
    nav .buscador .search-form input {
        font-size: x-large;
    }
}